@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Imperial+Script&display=swap');

:root {
   --first-color: darkred;
   --secondary-color: white;
   --terciary-color: black;
}
*{ 
    margin: 0;
    border: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    /*height: 100vh;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color:  var(--terciary-color);
    color: var(--secondary-color);
}
.Cabecalho {
    background-color: var(--first-color);
    padding: 0.5% 0 0.5% 15%;
}
.Navegacao {
    display: flex;
    gap: 5%;
}
.link {
    color: var(--secondary-color);
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
    font-size: 1.25rem;
}
.destaque {
    color: var(--first-color);
}
.Manos {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 3% 15%;
}
.Kraus {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Juno {
    font-size: 3.5rem;
    font-family: "Imperial Script", cursive;
}
.Juno2 {
    font-size: 3.5rem;
    font-family: "Imperial Script", cursive;
    color: var(--first-color);
}
.imggur {
    width: 40%;
    height: auto;
    border-radius: 8px;
}
.Jane {
    font-size: 1.25rem;
    font-family: "Audiowide", sans-serif;
    text-align: justify;   
}
.button {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}
.button2 {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 55%;
    color: var(--secondary-color);
    padding: 15px 0px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border: 3px solid var(--first-color);
    border-radius: 8px;
    font-family: "Audiowide", sans-serif;
}
.title2 {
    font-family: "Imperial Script", cursive;
    font-size: 1.875rem;
}
.button2:hover {
    background-color: var(--first-color);
    /* color: white; */
    transition: 1.3s;
}
.rodape {
    background-color: var(--first-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 0.5% 0 0.5% 0;
    font-family: "Audiowide", sans-serif;
}

@media (max-width: 1011px) {
    .Cabecalho {
        padding: 10%;
    }
    .Navegacao {
        justify-content: center;
        gap: 50px;
    }
    .Manos {
        flex-direction: column-reverse;
        gap: 20px;
        padding: 3% 5%;
    }
    .Kraus {
        width: 100%;
    }
    .imggur {
        width: 100%;
    }
}
